<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}" style="color:#ffffff">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
	<!--
	<li>
<!--Google站内搜索开始-->
<!--
<form method=get action='https://www.google.com/search'>
<input type=text name=q id='s' value='请输入关键字搜索...' onfocus='if (this.value == '请输入关键字搜索...') {this.value = '';this.className='ifocus'}' onblur='if (this.value == '') {this.value = '在这输入关键字搜索...';this.className=''}'>
<input type=submit name=btnG value='查 找'>
<!--<input type=image name="image" src="https://static.runoob.com/images/mix/searchicon.png" >-->
<!--
<input type=hidden name=ie value='utf-8'>
<input type=hidden name=oe value='utf-8'>
<input type=hidden name=hl value=zh-CN>
<input type=hidden name=domains value='www.robotics-hitsz.com'>
<input type=hidden name=sitesearch value='www.robotics-hitsz.com'>
</form>
<!--Google站内搜索结束-->
<!--
	</li>
	-->
  </ul>
  <!--
  <div class="wrapSearch">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>   
</div>-->


</div>
